<!-- CODIGO DE DETALLES DEL PEDIDO -->
<div class="_order-detail p-4 m-auto">
  <h2 class="text-primary">Detalles del pedido</h2>
  <button [routerLink]="'/orders'" class="btn-regresar text-primary">
    <fa-icon [icon]="faChevronLeft" class="mr-2"></fa-icon>Regresar
  </button>
  <br /><br />
  <p class="mb-1">Los detalles del pedido son los siguientes:</p>
  <p class="mb-1" style="font-weight: 700">Pedido No. #00010</p>
  <p class="mb-1" style="font-weight: 700">Francisco Montes</p>
  <p class="mb-1" class="text-primary" style="font-weight: 400">Dirección: {{ orderInfo?.dir }}</p>

  <div class="contenedor-tabla">
    <div class="row mx-0">
      <div class="col-4">Productos</div>
      <div class="col-4">Cantidad</div>
      <div class="col-4">Precio</div>
    </div>
    <div class="row mx-0" *ngFor="let o of order">
      <div class="col-4" style="text-align: start">
        <span>{{ o.sDescripcion }}</span>
        <br />
        <span class="text-primary" style="font-weight: 400">{{ o.sNombreCategoria }}</span>
      </div>
      <div class="col-4">{{ o.dCantidad }}</div>
      <div class="col-4" style="color: #1d5580">{{ o.dSubtotal | currency }}</div>
    </div>

    <ng-container *ngIf="orderInfo">
      <div class="row mx-0">
        <div class="col-8" style="text-align: start">Subtotal</div>
        <div class="col-4">{{ orderInfo.subtotal | currency }}</div>
      </div>
      <div class="row mx-0">
        <div class="col-8" style="text-align: start">Descuento</div>
        <div class="col-4">{{ orderInfo.dDescuento }}</div>
      </div>
      <div class="row mx-0">
        <div class="col-8" style="text-align: start">Cupón</div>
        <div class="col-4">{{ orderInfo.iIdCuponUsuario }}</div>
      </div>
      <div class="row mx-0">
        <div class="col-8" style="text-align: start">Envío</div>
        <div class="col-4">{{ orderInfo.dCostoEnvio }}</div>
      </div>
      <div class="row mx-0">
        <div class="col-8" style="text-align: start">Método de pago</div>
        <div class="col-4">{{ orderInfo.sMetodoPago }}</div>
      </div>
      <div class="row mx-0">
        <div class="col-8" style="text-align: start">Total</div>
        <div class="col-4 text-primary" style="color: #1d5580">{{ orderInfo.subtotal | currency }}</div>
      </div>
    </ng-container>
  </div>
</div>
