<div class="modal-generic">
  <div align="end">
    <button mat-icon-button mat-dialog-close color="primary">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h1 mat-dialog-title color="primary" [align]="'center'">Restablecer contraseña</h1>
  <mat-dialog-content style="padding-top: 0">
    <ng-container [formGroup]="form">
      <div class="form-group">
        <label for="lastPass">Teclea el código que envíamos a tu email</label>
        <input type="text" class="form-control" id="lastPass" formControlName="code" />
      </div>

      <div class="form-group">
        <label for="password">Nueva contraseña</label>
        <input
          type="text"
          [class]="_password.invalid && _password.touched ? 'form-control is-invalid' : 'form-control'"
          id="password"
          formControlName="password"
        />
        <div id="password" class="invalid-feedback">
          {{ _password?.errors?.pattern ? txtErrorPassword : txtError }}
        </div>
      </div>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close color="warn">
      {{ 'Cancelar' }}
    </button>
    <button mat-raised-button color="primary" (click)="action()" [disabled]="form.invalid">
      {{ 'Aceptar' }}
    </button>
  </mat-dialog-actions>
</div>
