@use "@angular/material" as mat;
@import "src/theme/theme-variables";

.modal-generic {
  h1,
  p {
    color: mat.get-color-from-palette($app-theme-primary);
  }

  h1 {
    font-weight: 800;
  }

  p {
    font-size: 18px;
  }
  .mat-dialog-container {
    padding-top: 0px !important;
  }
}
