/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */
// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/src/material-design-icons";

// Theme customization
@import "theme/theme";

.mat-drawer-content {
  background-color: white;
}
.card-max {
  max-width: 1200px;
  width: 100%;
}

.divider {
  height: 2px;
  background-color: $primary;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before,
th[sortable].asc:before {
  content: "";
  display: block;
  background: url("./assets/table/caret_sort.svg") no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  float: left;
  margin-left: -25px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
